@model DnDWorldMapEditor.Models.WorldMap

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WorldMap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/formdata" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRows" class="control-label"></label>
                <input asp-for="TotalRows" class="form-control" />
                <span asp-validation-for="TotalRows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalColumns" class="control-label"></label>
                <input asp-for="TotalColumns" class="form-control" />
                <span asp-validation-for="TotalColumns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackgroundImage" class="control-label"></label>
                <input   class="form-control" />
            </div>
            <div class="form-group">
                <label name="UpdatedImage" class="control-label"></label>
                <input name="UpdatedImage" type="file" class="form-control" accept="image/png, image/jpg, image/jpeg, image/svg" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        
        <dt class = "col-sm-2">
            Current Background Image
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundImage)
        </dd>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

