@model IEnumerable<DnDWorldMapEditor.Models.WorldMap>

@{
    ViewData["Title"] = "Index";
}

<h1>World Maps</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row row-cols-md-3 row-cols-sm-1 g-3">

    @{
        foreach (var map in @Model)
        {
            await Html.RenderPartialAsync("WorldMapIndexCard", map);
        }
    }
</div>
