@model IEnumerable<DnDWorldMapEditor.Models.Encounter>

@{
    ViewData["Title"] = "Index";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<h1>Encounters</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="row row-cols-md-3 row-cols-1 g-3">

    @{
        foreach (var encounter in ViewBag.pageOfItems)
        {
            <partial name="EncounterIndexCard" model="encounter"/>
        }
    }
</div>
<partial name="PaginationControls"/>