@model IEnumerable<DnDWorldMapEditor.Models.Encounter>

@{
    ViewData["Title"] = "Index";
}

<h1>Encounters</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="row row-cols-md-3 row-cols-sm-1 g-3">

    @{
        foreach (var encounter in @Model)
        {
            await Html.RenderPartialAsync("EncounterIndexCard", encounter);
        }
    }
</div>
