@model GridSpace

<div class="modal-header">
    <h5 class="modal-title">Edit Grid Space Notes</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="GridSpaceNotesForm" class="">
        <div class="mb-3">
            <label for="@Model.Notes" class="form-label">Notes</label>
            <textarea class="form-control  h-auto overflow-y-scroll" rows="10" id="GridSpaceNotesInput">
                @Model.Notes
            
            </textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button data-bs-dismiss="modal" onclick="UpdateNotes(@Model.Id)">Save</button>
</div>