@model String

<div class="container ">
    <a asp-action="Index" class="rounded float-start"><h3>
        <img src="~/images/Icons/arrow-left-square-fill.svg" width="32" height="32"
             fill="white" class="bi bi-arrow-left-square-fill rounded bg-white"/>
    </h3></a>
    <h1 class=" d-flex justify-content-center">@Model</h1>

</div>