@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>DnD World Map Editor</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <h3 class="display-4">Welcome @User.Identity?.Name</h3>
    }
    else
    {
        <h3 class="display-4">Welcome, Please <a asp-area="Identity" asp-page="/Account/Login" >Login</a>
            or <a asp-area="Identity" asp-page="/Account/Register" >Register</a></h3>
    }
    
    
</div>